/* =Buttons
----------------------------------------------- */
.btn {
    > a {
        white-space: nowrap;

        @include respond(all-phones) {

        }
    }

    @include respond(all-phones) {
        width: 100%;
    }
}

.no-touch .btn {
    transition: $base-transition;

    > a {
        transition: $base-transition;
    }
}

// just an example for reference
.btn.primary {
    background: #ff833a;
    border: 1px solid #f67c35;
    color: #fff;
    text-transform: uppercase;
    padding: 0 1em !important;
}

.btn.primary:hover,
.btn.primary:active {
    background: #ff7210;
    cursor: pointer;
    > a {
        color: $white;
    }
}

.btn.orange-btn {
  background: $red-orange;
  text-transform: uppercase;
  padding: 0.5em 1em !important;
  color: #fff;
  border: none;
  font-size: 1em;
  &:hover {
    background: #ee755b;
  }
}

.btn.blue-btn {
  background: $carbide-blue;
  text-transform: uppercase;
  padding: 0.5em 1em !important;
  color: #fff;
  border: none;
  font-size: 1em;
  &:hover {
    background: #28b5cd;
  }
}

.btn.transparent-btn {
  background: transparent;
  text-transform: uppercase;
  padding: 0.5em 1em !important;
  &.white-btn {
    border: solid 1px #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: $carbide-blue;
    }
  }
}
