.search-form {
  margin-top: -45px;
  input[type=search] {
    height: 60px;
    border-radius: 0 !important;
  }
  button.btn {
    width: 17%;
    height: 60px !important;
    border-radius: 0 !important;
  }
}