.search-form {
  margin-top: -30px;
  input[type=search] {
    height: 60px;
    border-radius: 0 !important;
  }
  button.btn {
    padding: 0 4em !important;
    height: 60px !important;
    border-radius: 0 !important;
  }
}